<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123306497679-7591n751t0cn3tedrqg62ruj5nap4c3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123306497679-7591n751t0cn3tedrqg62ruj5nap4c3n</string>
	<key>API_KEY</key>
	<string>AIzaSyCmfUuDxGKuwdX7MWK8oRZ18WZdr4Fl4GY</string>
	<key>GCM_SENDER_ID</key>
	<string>123306497679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.Antiqueapp</string>
	<key>PROJECT_ID</key>
	<string>antiqueapp-f6e09</string>
	<key>STORAGE_BUCKET</key>
	<string>antiqueapp-f6e09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123306497679:ios:20d6f9579ad94428c642fa</string>
	<key>DATABASE_URL</key>
	<string>https://antiqueapp-f6e09.firebaseio.com</string>
</dict>
</plist>